{% extends 'base.html' %}

{% block content %}
<main>
    <ul>
        {% for todoitem in list %}
            <li>        
                <a href="{% url 'todos_createitem' %}">{{ createitem.task }}</a>
            </li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}