{% extends 'base.html' %}

{% block content %}
    <main>
        <ul>
            <li>
                <a href="{% url 'todo_detail' %}">{{ todolist.name }}</a>
            </li>
            <li>
                <a href="{% url 'todoitem_new' %}">New Item Todo</a>
            </li>
        </ul>
    </main>
{% endblock content %}
