<!DOCTYPE html>

<html lan=en>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'todo_new' %}">New Todo List</a>
                    </li>
                    <li>
                        <a href="{% url 'todo_delete' %}">Delete</a>
                    </li>
                    <li>
                        <a href="{% url 'todo_edit' %}">Edit</a>
                    </li>
                </ul>
            </nav>
        </header> 
        {% block content %}
        {% endblock content %}
    </body>
</html>  